<div class="header">
  <a href="">About</a>
  <a href="">Store</a>
  <span class="nav-spacer"></span>
  <a href="">Gmail</a>
  <a href="">Images</a>
  <a href="">
    <mat-icon color="primary">apps</mat-icon>
  </a>
  <button mat-raised-button color="primary">Sign in</button>
</div>

<img src="assets/image/googlelogo.png">
<br>
 
  <form>
      <input matInput>
      <br>
      <br>
    <div class="button-space">
      <button style="margin-right:10px" mat-stroked-button>Google Search</button>
      <button mat-stroked-button>I'm Feeling Lucky</button>
      <br>
      <br>
      <br>
      <p>Google offered in :  <a href="http://www.google.com/fr">Français</a></p>
    </div>

  </form>



<router-outlet></router-outlet>